/* App.css */

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.App {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.heading {
  font-family: "Pacifico", cursive;
  font-size: 35px;
  margin-top: 100px;
}

.container {
  margin-top: 30px;
  height: auto;
  width: 800px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

input {
  padding-left: 5px;
  font-size: 20px;
  height: 36px;
  border: 1px solid #228b22;
}

.middle,
.right {
  width: 120px;
}

.switchClass {
  padding: 5px;
  background-color: rgb(226, 252, 184);
  border-radius: 50%;
  cursor: pointer;
}

.result {
  box-sizing: border-box;
  width: 800px;
  padding-left: 35px;
}

button {
  width: 110px;
  height: 40px;
  font-weight: bold;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
  border: 2px solid forestgreen;
  background-color: rgb(226, 252, 184);
  cursor: pointer;
}

p,
h3,
button,
.switch {
  color: forestgreen;
}

h2 {
  font-size: 17px;
  margin-top: 5px;
  font-weight: bold;
}

p {
  font-size: 30px;
}
